<?xml version="1.0"?>
<launch>

  <!-- Number of fixes used to mean the coordinates of the base station -->
  <arg name="n_fix" default="6000"/>

  <!-- Piksi node -->
  <node pkg="piksi_rtk_gps" type="piksi.py" name="piksi">
    <rosparam file="$(find piksi_rtk_gps)/cfg/piksi_driver_settings.yaml"/>
  </node>


</launch>
