<launch>

  <!-- This is an example about how ROVIO can be reset using magnetometer data -->
  <arg name="magnetometer_topic" default="/hawk/fcu/mag" />

  <!-- Convert magnetic field to yaw angle -->
  <node pkg="mbzirc_init_rovio" type="bearing_from_mag.py" name="bearing_from_mag" output="screen">
    <!-- Calibration data -->
    <!-- REMEMBER to provide the calibration data for the magnetometer -->

    <!-- Other data -->
    <rosparam param="declination_deg">2</rosparam> 
    <!-- WARNING: + 90 degrees offset ENU North to sensor's X axis -->
    <rosparam param="bearing_constant_offset_deg">90</rosparam> 
    <rosparam param="print_debug">False</rosparam>

    <remap from="magnetic_field" to="$(arg magnetometer_topic)"/>
  </node>

  <!-- Initialize ROVIO using the imu message built using magnetic field -->
  <node pkg="mbzirc_init_rovio" type="init_rovio_enu.py" name="init_rovio_enu" output="screen">
    <remap from="mag_imu" to="/bearing_from_mag/imu_bearing_avg" /> 
    <!-- REMEMBER to provide the calibration data from MAV IMU to VI-sensor IMU -->
  </node>

</launch>
