<launch>

  <!-- This is an example about how ROVIO can be reset using magnetometer data -->
  <arg name="mav_name" default="hawk"/>
  <arg name="magnetometer_topic" default="/$(arg mav_name)/fcu/mag"/>

  <!-- Convert magnetic field to yaw angle -->
  <node pkg="mbzirc_init_rovio" type="bearing_from_mag.py" name="bearing_from_mag" output="screen">

    <!-- Calibration data -->
    <rosparam file="$(find mav_startup)/parameters/mavs/$(arg mav_name)/magnetometer_calibration.yaml"/>

    <!-- WARNING: + 90 degrees offset ENU North to sensor's X axis -->
    <param name="bearing_constant_offset_deg" value="90.0"/> 
    <param name="verbose" value="True"/> 

    <remap from="magnetic_field" to="$(arg magnetometer_topic)"/>
  </node>

  <!-- Initialize ROVIO using the imu message built using magnetic field -->
  <node pkg="mbzirc_init_rovio" type="init_rovio_enu.py" name="init_rovio_enu" output="screen">
    <remap from="mag_imu" to="/bearing_from_mag/imu_bearing_avg" /> 
    <!-- Calibration data from MAV IMU to VI-sensor IMU -->
    <rosparam file="$(find mav_startup)/parameters/mavs/$(arg mav_name)_mbzirc/msf_parameters_vision.yaml"/>
  </node>

</launch>