<launch>

	<arg name="magnetometer_topic" default="/hawk/fcu/mag" />

	<!-- Convert magnetic field to bearing angle, angle == 0 if X axis sensor points North -->
  <node pkg="mbzirc_init_rovio" type="bearing_from_mag.py" name="bearing_from_mag" output="screen">
  	<!-- Calibration data -->
    <rosparam param="calibration_offset">[352.57, 500.691, 36.0921]</rosparam>
    <rosparam param="calibration_compensation">[0.946845, 0.00516968, 0.0143295, 0.00516968, 0.925902, 0.0132176, 0.0143295, 0.0132176, 0.993236]</rosparam>

    <!-- Other data -->
    <rosparam param="declination_deg">2</rosparam>

    <!-- Constant offset added to final bearing -->
    <rosparam param="bearing_constant_offset_deg">0.0</rosparam> 

    <rosparam param="print_debug">True</rosparam>

    <remap from="magnetic_field" to="$(arg magnetometer_topic)"/>
  </node>

  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
      args="bearing_from_mag/bearing_raw bearing_from_mag/bearing_avg"
      respawn="false" output="screen" />

  <!--node name="rqt_plot_mag_corrected" pkg="rqt_plot" type="rqt_plot"
      args="/bearing_from_mag/mag_corrected"
      respawn="false" output="screen" /-->

</launch>