<launch>

  <node pkg="mbzirc_init_rovio" type="bearing_from_mag.py" name="bearing_from_mag" output="screen">
  	<!-- Calibration data -->
    <rosparam param="magnetometer/offset">[-70.4161, -156.911, -142.157]</rosparam>
    <rosparam param="magnetometer/compensation">[0.982942, -0.0183492, -0.0028793, -0.0183492, 0.979205, 0.00672142, -0.0028793, 0.00672142, 0.908295]</rosparam>
    <rosparam param="print_debugn">True</rosparam>

    <remap from="magnetic_field" to="/hawk/fcu/mag"/>
  </node>

  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
      args="bearing_from_mag/bearing_raw bearing_from_mag/bearing_avg"
      respawn="false" output="screen" />

</launch>