<?xml version="1.0"?>

<launch>

  <node name="rtk_info_gui" pkg="mav_rtk_gui" type="rtk_info" output="screen">
    <rosparam file="$(find mav_rtk_gui)/cfg/piksi_multi_topic_names_example.yaml"/>

    <!-- Overwrtie needed settings -->
    <param name="namespace" value=""/> <!-- Assume Piksi is not in any namespace. -->

  </node>

</launch>
